.header-row {padding-left: 6%}
.container-row {padding-left: 30px}
.footer-title {text-align: left !important}
.bold {font-weight: bold}
.browserstack-logo {height: 59px; background: #dddddd; padding-left: 5px; padding-right: 5px; border-radius: 4px}
.js-org-logo {width: 120px; border-radius: 4px}
.code-logo {font-size: 20px}
.front-end-content {margin-top: 70px}
.back-end-content {margin-top: 20px}
.radius4 {border-radius: 4px}
@media screen and (max-width: 700px) {
  .container-manifest {
    width: 100% !important;
  }
}
.container-manifest {
  width: 65%;
}
.metaphasejs-img {
  width: 100px; background: rgba(239,239,251,0.83); padding: 25px
}
.manifest-title {
  margin-bottom: 0;
}

.gray {
  color: grey !important;
}
.title-manifest {
  margin-top: 20px;
  margin-bottom: 40px;
}

.principio {
  color: grey;
  font-size: large;
}